.banner {
    background-color: cornsilk;
}

.banner__logo {
    padding-left: 2vw;
    padding-top: 1vw;
    max-width: 6%;
    margin-left: 45%
}

.banner__title {
    text-align: center;
    font-size: 5vw;
    padding-bottom: 2vw;
}