.banner {
    background-color: darkgoldenrod;
}

.banner__logo {
    padding-left: 2vw;
    padding-top: 1vw;
    height:10%;
}

.banner__title {
    text-align: center;
    font-size: 5vw;
    padding-bottom: 2vw;
}