.fishList {
    background-color: rgb(145, 219, 145);
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    border: solid;
    border-color: cornsilk;
    border-width: 1vw;
    filter: drop-shadow(10px 3px 2px rgba(48, 47, 47, 0.76));
    margin-bottom: 1.2vw;
}

.fish {
    background-color: cornsilk;
    width: 25%;
    text-align: center;
    margin: 1vw;
    filter: drop-shadow(15px 5px 4px rgba(48, 47, 47, 0.76));
}


.fish__picture {
    max-width: 15rem;
    max-height: 15rem;
    margin-top: 2vw;
}

#fishTitle {
    background-color: rgb(145, 219, 145);
    margin: 0vw;
    padding-top: 1vw;
    text-align: center;
    font-size: 2vw;
}