.locationList {
    background-color: rgb(83, 83, 82);
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 18vw;
}
.location {
    background-color: mediumseagreen;
    width: 25%;
    text-align: center;
    padding: 1vw;
    margin: 1vw;
    filter: drop-shadow(15px 5px 4px rgba(48, 47, 47, 0.76));
}


.location__picture {
    max-width: 15rem;
    max-height: 15rem;
    padding-bottom: 1vw;
}

#locationTitle {
    background-color: rgb(83, 83, 82);
    margin: 0vw 0vw 0vw 13vw;
    padding-top: 1vw;
    padding-left: 5vw;
    text-align: center;
}